.s-table {
  width: 100%;
  color: #606266;
  font-size: 14px;

  thead {
    color: #909399;
  }
  tr:hover {
    td {
      background-color: #f5f7fa;
    }
  }
  th,
  td {
    padding: 8px 15px;
    text-align: left;
    border-bottom: 1px solid #ebeef5;
  }
  .s-table-placeholder {
    .ant-empty-description {
      text-align: center;
    }
    &:hover{
      td {
        background-color: transparent;
      }
    }
  }
  &.s-table--border {
    border: 1px solid #ebeef5;
    th,
    td {
      border-right: 1px solid #ebeef5;
      &:last-child {
        border-right: none;
      }
    }
  }
  &.s-table--striped {
    .s-table__row--striped {
      background-color: #fafafa;
    }
  }
}
