.s-form__item {
  &--horizontal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &--error {
    margin-bottom: 0;
  }
  .error-message {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 5px;
  }
}
.s-form__label {
  align-self: flex-start;

  &--vertical {
    padding-bottom: 8px;
  }

  &--sm {
    flex: 0 0 80px;
  }

  &--md {
    flex: 0 0 100px;
  }

  &--lg {
    flex: 0 0 150px;
  }

  &--start {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--end {
    text-align: end;
  }
}
