// // 定义主题变量
// $s-border-radius: var(--s-border-radius, 2px); //一般圆角
// $s-font-size-mm: var(--s-font-size-md, 10px); //当组件size为''时使用此字号大小
// $s-font-size-sm: var(--s-font-size-md, 12px); //当组件size为''时使用此字号大小
// $s-font-size-md: var(--s-font-size-md, 14px); //当组件size为''时使用此字号大小
// $s-font-size-lg: var(--s-font-size-md, 16px); //当组件size为''时使用此字号大小

// $s-light-text: var(--s-light-text, #ffffff); // 有色深色背景下字体颜色（固定）
// $s-primary: var(--s-primary, #5e7ce0); // 主要按钮，同品牌色
// $s-primary-hover: var(--s-primary-hover, #7693f5); // 主要按钮悬停
// $s-primary-disabled: var(--s-primary-disabled, #98a8df); // 主要按钮禁用状态
// $s-primary-active: var(--s-primary-active, #344899); // 主要按钮激活
// $s-text: var(--s-text, #252b3a); // 正文文本
// $s-disabled-text: var(--s-disabled-text, #757a83); // 禁用文本
// $s-disabled-bg: var(--s-disabled-bg, #c6c9cf); // 禁用背景
// $s-disabled-line: var(--s-disabled-line, #a5a8ad); // 禁用边框
// $s-block: var(
//   --s-block,
//   #ffffff
// ); // 大面积的不可折叠区块的背景色（例如顶部导航背景色）
// $s-line: var(--s-line, #adb0b8); // 边框分割线，仅用于边框
// $s-form-control-line-active: var(
//   --s-form-control-line-active,
//   #5e7ce0
// ); // 表单控件边框激活色，用于获得焦点
// $s-brand-active: var(--s-brand-active, #526ecc); // 品牌色激活色（加深）
// $s-brand-active-focus: var(
//   --s-brand-active-focus,
//   #344899
// ); // 品牌色焦点色（重度加深）

@import './button-base.scss';
.s-button {
  @include button-base;
  &.is-plain {
    &:hover {
      color: #409eff;
      border-color: #409eff;
      background-color: #fff;
      outline: none;
    }
    &:active {
      color: #409eff;
      border-color: #409eff;
      background-color: #fff;
      outline: none;
    }
    &:focus-visible {
      // outline: 2px solid #a0cfff;
      outline: 2px solid #a0cfff;
      @apply outline-offset-1;
      transition: outline-offset 0s, outline 0s;
    }
    &[disabled] {
      @apply cursor-not-allowed;
      color: #a8abb2;
      background-image: none;
      background-color: #fff;
      border-color: #e4e7ed;
    }
  }

  &.s-button--small {
    height: 24px;
    padding: 5px 11px;
    font-size: 12px;
    &.is-circle {
      width: 24px;
      padding: 5px;
    }
  }
  &.s-button--large {
    height: 40px;
    padding: 12px 19px;
    font-size: 16px;
    &.is-circle {
      width: 40px;
      padding: 12px;
    }
  }
  &.s-button--primary {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    &:hover {
      color: #fff;
      border-color: #79bbff;
      background-color: #79bbff;
      @apply outline-none;
     
    }
    &:active {
      color: #fff;
      border-color: #337ecc;
      background-color: #337ecc;
      @apply outline-none;
    }
    &:focus-visible {
      outline: 2px solid #a0cfff;
      @apply outline-offset-1;
      transition: outline-offset 0s, outline 0s;
    }
    &[disabled] {
      color: #fff;
      @apply cursor-not-allowed;
      background-image: none;
      background-color: #a0cfff;
      border-color: #a0cfff;
    }
    &.is-plain {
      color: #409eff;
      background-color: #ecf5ff;
      border-color: #a0cfff;
      &:hover {
        color: #fff;
        border-color: #409eff;
        background-color: #409eff;
        @apply outline-none;
      }
      &:active {
        color: #fff;
        border-color: #337ecc;
        background-color: #337ecc;
        @apply outline-none;
      }
      &:focus-visible {
        outline: 2px solid #a0cfff;
        @apply outline-offset-1;
        transition: outline-offset 0s, outline 0s;
      }
      &[disabled] {
        color: #a0cfff;
        background-color: #ecf5ff;
        border-color: #d9ecff;
      }
    }
  }
  &.s-button--success {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
    &:hover {
      color: #fff;
      border-color: #95d475;
      background-color: #95d475;
      @apply outline-none;
    }
    &:active {
      color: #fff;
      border-color: #529b2e;
      background-color: #529b2e;
      @apply outline-none;
    }
    &:focus-visible {
      outline: 2px solid #b3e19d;
      @apply outline-offset-1;
      transition: outline-offset 0s, outline 0s;
    }
    &[disabled] {
      color: #fff;
      @apply cursor-not-allowed;
      background-image: none;
      background-color: #b3e19d;
      border-color: #b3e19d;
    }
    &.is-plain {
      color: #67c23a;
      background-color: #ecf5ff;
      border-color: #b3e19d;
      &:hover {
        color: #fff;
        border-color: #67c23a;
        background-color: #67c23a;
        @apply outline-none;
      }
      &:active {
        color: #fff;
        border-color: #529b2e;
        background-color: #529b2e;
        @apply outline-none;
      }
      &:focus-visible {
        outline: 2px solid #b3e19d;
        @apply outline-offset-1;
        transition: outline-offset 0s, outline 0s;
      }
      &[disabled] {
        color: #b3e19d;
        background-color: #f0f9eb;
        border-color: #d9ecff;
      }
    }
  }
  &.s-button--info {
    color: #fff;
    background-color: #909399;
    border-color: #909399;
    &:hover {
      color: #fff;
      border-color: #b1b3b8;
      background-color: #b1b3b8;
      @apply outline-none;
    }
    &:active {
      color: #fff;
      border-color: #73767a;
      background-color: #73767a;
      @apply outline-none;
    }
    &:focus-visible {
      outline: 2px solid #c8c9cc;
      @apply outline-offset-1;
      transition: outline-offset 0s, outline 0s;
    }
    &[disabled] {
      color: #fff;
      @apply cursor-not-allowed;
      background-image: none;
      background-color: #c8c9cc;
      border-color: #c8c9cc;
    }
    &.is-plain {
      color: #909399;
      background-color: #f4f4f5;
      border-color: #c8c9cc;
      &:hover {
        color: #fff;
        border-color: #909399;
        background-color: #909399;
        @apply outline-none;
      }
      &:active {
        color: #fff;
        border-color: #73767a;
        background-color: #73767a;
        @apply outline-none;
      }
      &:focus-visible {
        outline: 2px solid #73767a;
        @apply outline-offset-1;
        transition: outline-offset 0s, outline 0s;
      }
      &[disabled] {
        color: #c8c9cc;
        background-color: #f4f4f5;
        border-color: #e9e9eb;
      }
    }
  }
  &.s-button--warning {
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
    &:hover {
      color: #fff;
      border-color: #eebe77;
      background-color: #eebe77;
      @apply outline-none;
    }
    &:active {
      color: #fff;
      border-color: #b88230;
      background-color: #b88230;
      @apply outline-none;
    }
    &:focus-visible {
      outline: 2px solid #b88230;
      @apply outline-offset-1;
      transition: outline-offset 0s, outline 0s;
    }
    &[disabled] {
      color: #fff;
      @apply cursor-not-allowed;
      background-image: none;
      background-color: #f3d19e;
      border-color: #f3d19e;
    }
    &.is-plain {
      color: #e6a23c;
      background-color: #fdf6ec;
      border-color: #f3d19e;
      &:hover {
        color: #fff;
        border-color: #e6a23c;
        background-color: #e6a23c;
        @apply outline-none;
      }
      &:active {
        color: #fff;
        border-color: #b88230;
        background-color: #b88230;
        @apply outline-none;
      }
      &:focus-visible {
        outline: 2px solid #f3d19e;
        @apply outline-offset-1;
        transition: outline-offset 0s, outline 0s;
      }
      &[disabled] {
        color: #f3d19e;
        background-color: #fdf6ec;
        border-color: #faecd8;
      }
    }
  }
  &.s-button--danger {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
    &:hover {
      color: #fff;
      border-color: #f89898;
      background-color: #f89898;
      @apply outline-none;
    }
    &:active {
      color: #fff;
      border-color: #c45656;
      background-color: #c45656;
      @apply outline-none;
    }
    &:focus-visible {
      outline: 2px solid #fab6b6;
      @apply outline-offset-1;
      transition: outline-offset 0s, outline 0s;
    }
    &[disabled] {
      color: #fff;
      @apply cursor-not-allowed;
      background-image: none;
      background-color: #fab6b6;
      border-color: #fab6b6;
    }
    &.is-plain {
      color: #f56c6c;
      background-color: #fef0f0;
      border-color: #fab6b6;
      &:hover {
        color: #fff;
        border-color: #f56c6c;
        background-color: #f56c6c;
        @apply outline-none;
      }
      &:active {
        color: #fff;
        border-color: #c45656;
        background-color: #c45656;
        @apply outline-none;
      }
      &:focus-visible {
        outline: 2px solid #fab6b6;
        @apply outline-offset-1;
        transition: outline-offset 0s, outline 0s;
      }
      &[disabled] {
        color: #fab6b6;
        background-color: #fef0f0;
        border-color: #fde2e2;
      }
    }
  }
}
