@import '../../style/variable.scss';
$s-animation-duration-slow: var(--s-animation-duration-slow, 300ms);
$s-animation-ease-in-out-smooth: var(
  --s-animation-ease-in-out-smooth,
  cubic-bezier(0.645, 0.045, 0.355, 1)
);
@mixin button-base {
  // 布局
  @apply inline-flex items-center justify-center text-center;
  // 元素
  @apply border-[1px] border-solid border-transparent
  h-[32px] py-[8px] px-[15px]
  bg-transparent;
  // 文本属性
  @apply outline-0 leading-normal whitespace-nowrap
     cursor-pointer;
  line-height: 1;
  border: 1px solid #dcdfe6;
  font-weight: 500;
  font-size: 14px;
  color: #606266;
  // 其他样式
  transition: background-color $s-animation-duration-slow
      $s-animation-ease-in-out-smooth,
    border-color $s-animation-duration-slow $s-animation-ease-in-out-smooth,
    color $s-animation-duration-slow $s-animation-ease-in-out-smooth;
  &:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
    @apply outline-none;
  }
  &:active {
    color: #409eff;
    border-color: #409eff;
    background-color: #ecf5ff;
    @apply outline-none;
  }
  &:focus-visible {
    outline: 2px solid #a0cfff;
    @apply outline-offset-1;
    transition: outline-offset 0s, outline 0s;
  }
  &[disabled] {
    @apply cursor-not-allowed;
    color: #a8abb2;
    background-image: none;
    background-color: #fff;
    border-color: #e4e7ed;
  }
  &.is-round {
    border-radius: 20px;
  }
  &.is-circle {
    width: 32px;
    border-radius: 50%;
    padding: 8px;
  }
  &.is-block {
    @apply block w-full;
    & + .s-button {
      margin-left: 0px;
    }
  }
  .is-bg{
    background-color:#f5f7fa
  }
  & + .s-button {
    margin-left: 12px;
  }
}
@mixin button-variant($variant, $pseudo: false) {
  @each $key, $value in $variant {
    // 第一层是多态的类型
    &.s-button--#{$key} {
      @each $item-key, $item-value in $value {
        // 第二层是多态类型下的样式
        @if $pseudo {
          // 如果是伪类就继续第三层
          &:#{$item-key} {
            @each $sub-item-key, $sub-item-value in $item-value {
              // 第三层是伪类的样式
              #{$sub-item-key}: $sub-item-value;
            }
          }
        } @else {
          // 不是伪类就直接设置样式
          #{$item-key}: $item-value;
        }
      }
    }
  }
}
