.s-switch {
  --s-switch-off-color: #dcdfe6;
  --s-transition-duration: 0.3s;
  --s-switch-on-color: #409eff;
  font-size: 14px;
  height: 32px;
  vertical-align: middle;

  .s-switch__input {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
  }
  .s-switch__core {
    min-width: 40px;
    height: 20px;
    border: 1px solid #dcdfe6;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    background: var(--s-switch-off-color);
    transition: border-color var(--s-transition-duration),
      background-color var(--s-transition-duration);
    .s-switch__action {
      left: 1px;
      border-radius: 100%;
      transition: all var(--el-transition-duration);
      width: 16px;
      height: 16px;
      background-color: #fff;
      color: var(--s-switch-off-color);
    }
  }
  &.is-checked {
    .s-switch__core {
      border-color: var(--s-switch-on-color);
      background-color: var(--s-switch-on-color);
    }
    .s-switch__action {
      left: calc(100% - 17px);
      color: var(--s-switch-on-color);
    }
  }
  .s-switch__label{
&.is-active {
    color: #409eff;
}
  }
  .s-switch__label--left {
    margin-right: 10px;
  }
  .s-switch__label--right{
    margin-left: 10px;
  }
}
