.s-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 0;
  .s-empty-image {
    width: 160px;
    svg {
      color: #dcdfe6;
      fill: currentColor;
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
    img {
      user-select: none;
      width: 100%;
      height: 100%;
      vertical-align: top;
      object-fit: contain;
    }
  }
  .s-empty-description,
  .s-empty-footer {
    margin-top: 20px;
  }
}
