.s-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 0;
}

.s-empty .s-empty-image {
  width: 160px;
}

.s-empty .s-empty-image svg {
  color: #dcdfe6;
  fill: currentColor;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.s-empty .s-empty-image img {
  user-select: none;
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: contain;
}

.s-empty .s-empty-description,
.s-empty .s-empty-footer {
  margin-top: 20px;
}
